.hiddenPost {
  width: 100%;
  height: 20px;
  background-color: linen;
  margin-bottom: 10px;
  background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAKklEQVQYV2NkgIKIuoUN+q4hDIwgPoxTacvdwIjMAUkyth/+2gCSgakEAOr9ELt2ymgLAAAAAElFTkSuQmCC)
}
